// fonts

@font-face {
  font-family: "Fira Sans Regular";
  src: url("/fonts/FiraSans-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Fira Sans Bold";
  src: url("/fonts/FiraSans-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Fira Sans Semi-Bold";
  src: url("/fonts/FiraSans-SemiBold.ttf") format("ttf");
}

$firaSansRegular: "Fira Sans Regular", sans-serif;
$firaSansBold: "Fira Sans Bold", sans-serif;
$firaSansSemiBold: "Fira Sans Semi-Bold", sans-serif;

// colors

$backgroundColor: #ffffff;
$textColor: #8c8c8c;
$activeLink: #42b983;
$baseTextColor: #2c3e50;
$darkBackgroundColor: darken($backgroundColor, 15%);

// borders
$standardBorder: 1px solid $darkBackgroundColor;
$standardBorderRadius: 0.5em;